/* search box */
.DocSearch-Container {
  cursor: auto;
  background-color: #0003 !important;
  backdrop-filter: blur(4px);
  --uno: p-1 sm: p-1.5 md: p-10vh lg: p-12vh;
}

html.dark .DocSearch-Container {
  /* background-color: #0f172acc !important; */
  background-color: rgba(3, 7, 18, 0.1) !important;
}

.DocSearch .DocSearch-Modal {
  margin: 0 auto;
  background: #fff;
  width: 100%;
  max-width: 47.375rem;
  display: flex;
  flex-direction: column;
  min-height: 0;
  border-radius: 0.5rem;
  box-shadow:
    0 10px 15px -3px #0000001a,
    0 4px 6px -4px #0000001a;
}

html.dark .DocSearch .DocSearch-Modal {
  background: rgb(12 12 12);
}

.DocSearch .DocSearch-SearchBar {
  border-color: rgb(241 245 249);
  padding: 0 1rem;
  border-bottom-width: 1px;
}

html.dark .DocSearch .DocSearch-SearchBar {
  border-color: #e2e8f00d;
}

.DocSearch .DocSearch-Form {
  padding: 0;
  box-shadow: none;
  border-radius: unset;
}

.DocSearch .DocSearch-Input {
  font-size: 0.875rem;
}

html.dark .DocSearch .DocSearch-Input,
html.dark .DocSearch .DocSearch-Hit-source {
  color: inherit;
}

html.dark .DocSearch .DocSearch-Form,
html.dark .DocSearch .DocSearch-Footer {
  background: rgb(12 12 12);
}

.DocSearch .DocSearch-Commands {
  display: none;
}

.DocSearch .DocSearch-MagnifierLabel {
  color: inherit;
  opacity: 0.6;
}

.DocSearch .DocSearch-MagnifierLabel svg {
  color: inherit;
  width: 18px;
  height: 18px;
}

.DocSearch .DocSearch-Reset {
  display: none;
}

.DocSearch .DocSearch-Dropdown {
  flex: 1;
  overflow: auto;
  padding: 0;
  scrollbar-color: var(--c-scrollbar);
  scrollbar-width: auto;
}

.DocSearch .DocSearch-Dropdown-Container {
  padding-bottom: 1.5rem;
}

.DocSearch .DocSearch-Hits:last-of-type {
  margin: 0;
}

.DocSearch .DocSearch-Hits:first-child .DocSearch-Hit-source {
  padding-top: 1.5rem;
}

.DocSearch .DocSearch-Hit-source {
  position: static;
  margin: 0 1.5rem 1rem;
  padding: 0;
  background: inherit;
  color: #0f172a;
}

.DocSearch .DocSearch-Hit--Child {
  padding: 0;
  border-radius: unset;
}

.DocSearch .DocSearch-Hit {
  padding-bottom: 0;
  border-radius: 0;
}

.DocSearch .DocSearch-Hit a {
  border-radius: 0;
  transition: 0.2s ease-in-out;
}
html.dark .DocSearch .DocSearch-Hit a {
  background: rgb(12 12 12);
}
.DocSearch .DocSearch-Hit[aria-selected='true'] a {
  background: rgb(248 250 252);
  transition: 0.2s ease-in-out;
}
html.dark .DocSearch .DocSearch-Hit[aria-selected='true'] a {
  background: rgb(24 24 24);
}
.DocSearch .DocSearch-Hit:first-child > a {
  border-top-width: 1px;
  border-color: rgb(241 245 249);
}
html.dark .DocSearch .DocSearch-Hit:first-child > a {
  border-color: #e2e8f00d;
}
.DocSearch .DocSearch-Hit > a {
  font-size: 0.875rem;
  border-bottom: 1px solid #f1f5f9;
  padding: 1rem 1.5rem;
  box-shadow: unset;
}
html.dark .DocSearch .DocSearch-Hit > a {
  border-color: #e2e8f00d;
}

.DocSearch .DocSearch-Hit-Container {
  padding: 0;
  height: auto;
  width: 100%;
}

html.dark .DocSearch .DocSearch-Hit-Container {
  color: inherit;
}

.DocSearch .DocSearch-Hit-icon {
  display: none;
}

.DocSearch .DocSearch-Hit-content-wrapper {
  margin: 0;
  flex: auto;
  flex-direction: column-reverse;
  min-width: 0;
  width: unset;
}

.DocSearch .DocSearch-Hit-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5rem;
}

.DocSearch .DocSearch-Hit-title mark,
.DocSearch .DocSearch-Hits mark {
  color: #0ea5e9;
}

.DocSearch .DocSearch-Hit-title + .DocSearch-Hit-path {
  margin-bottom: 0.25rem;
}

.DocSearch .DocSearch-Hit-path {
  margin-bottom: 0.25rem;
  padding: 0 0.375rem;
  align-self: flex-start;
  line-height: 1.5rem;
  font-weight: 600;
  background: #f1f5f9;
  border-radius: 999px;
}
html.dark .DocSearch .DocSearch-Hit-path {
  background: rgb(32 32 32);
  color: inherit;
}

.DocSearch .DocSearch-Hit .DocSearch-Hit-Container .DocSearch-Hit-action {
  color: #9ca3af !important;
}

.DocSearch .DocSearch-Hit-action-button:focus,
.DocSearch .DocSearch-Hit-action-button:hover {
  background: none;
  color: #374151;
  transition-property: color;
}

.DocSearch .DocSearch-Hit-action {
  margin-left: 0.875rem;
  flex: none;
  width: unset;
  height: unset;
}

.DocSearch .DocSearch-Hit-action + .DocSearch-Hit-action {
  margin-left: 0.75rem;
  padding-left: 0.75rem;
  border-color: rgb(226 232 240);
  border-left-width: 1px;
}

.DocSearch .DocSearch-HitsFooter {
  display: none;
}

.DocSearch .DocSearch-NoResults .DocSearch-Screen-Icon {
  display: none;
}

.DocSearch .DocSearch-NoResults .DocSearch-Title {
  color: #94a3b8;
}

.DocSearch .DocSearch-NoResults-Prefill-List {
  display: none;
}

.DocSearch .DocSearch-Title strong {
  font-weight: 400;
}

html.dark .DocSearch-Title strong {
  color: #fff;
}

.DocSearch-Title strong {
  color: rgb(15 23 42);
}

.DocSearch .DocSearch-Footer {
  box-shadow: none;
  border-top-width: 1px;
  border-color: rgb(241 245 249);
}

html.dark .DocSearch .DocSearch-Footer {
  border-color: #e2e8f00d;
}

.DocSearch .DocSearch-Hit[aria-selected='true'] .DocSearch-Hit-action,
.DocSearch .DocSearch-Hit[aria-selected='true'] .DocSearch-Hit-icon,
.DocSearch .DocSearch-Hit[aria-selected='true'] .DocSearch-Hit-path,
.DocSearch .DocSearch-Hit[aria-selected='true'] .DocSearch-Hit-text,
.DocSearch .DocSearch-Hit[aria-selected='true'] .DocSearch-Hit-title,
.DocSearch .DocSearch-Hit[aria-selected='true'] .DocSearch-Hit-Tree,
.DocSearch .DocSearch-Hit[aria-selected='true'] mark {
  color: inherit !important;
}

/* search icon button */
.DocSearch.DocSearch-Button {
  background: var(--searchbox-background);
  color: inherit;
  margin: 0;
  padding: 0;
}

.DocSearch.DocSearch-Button
  .DocSearch-Button-Container
  .DocSearch-Button-Placeholder,
.DocSearch.DocSearch-Button .DocSearch-Button-Keys {
  display: none;
}
.DocSearch.DocSearch-Button .DocSearch-Button-Container .DocSearch-Search-Icon {
  width: 18px;
  color: inherit;
  opacity: 0.6;
  transition: opacity 0.2s ease;
}

.DocSearch.DocSearch-Button:hover {
  background: transparent;
  color: inherit;
  box-shadow: none;
}

.DocSearch.DocSearch-Button:hover
  .DocSearch-Button-Container
  .DocSearch-Search-Icon {
  opacity: 1;
}
