:root {
  --searchbox-background: transparent;
  --c-bg: #fff;
  --c-scrollbar: #eee;
  --c-scrollbar-hover: #bbb;
}

.DocSearch.DocSearch-Button {
  background: var(--searchbox-background);
  color: inherit;
  margin: 0;
  padding: 0;
}

.DocSearch.DocSearch-Button
  .DocSearch-Button-Container
  .DocSearch-Button-Placeholder,
.DocSearch.DocSearch-Button .DocSearch-Button-Keys {
  display: none;
}
.DocSearch.DocSearch-Button .DocSearch-Button-Container .DocSearch-Search-Icon {
  width: 18px;
  color: inherit;
  opacity: 0.6;
  transition: opacity 0.2s ease;
}

.DocSearch.DocSearch-Button:hover {
  background: var(--searchbox-background);
  color: inherit;
  box-shadow: none;
}

.DocSearch.DocSearch-Button:hover
  .DocSearch-Button-Container
  .DocSearch-Search-Icon {
  opacity: 1;
}

.DocSearch-SearchBar {
  padding: 0 !important;
  border-bottom-width: 1px;
}

.DocSearch-Form {
  box-shadow: unset !important;
  padding: 0 16px !important;
}

.DocSearch-Input {
  font-size: 0.875rem !important;
}

.DocSearch-Commands {
  display: none !important;
}

.DocSearch-NoResults .DocSearch-Screen-Icon {
  display: none !important;
}

.DocSearch-Title strong {
  font-weight: 400;
}

/* .DocSearch.DocSearch-Container {
  backdrop-filter: blur(6px);
  background: transparent;
} */

.DocSearch .DocSearch-Modal {
  background: #fff;
}

.DocSearch .DocSearch-SearchBar {
  border-color: rgb(241 245 249);
}

.DocSearch .DocSearch-Footer {
  box-shadow: none;
  border-top-width: 1px;
  border-color: rgb(241 245 249);
}

.DocSearch .DocSearch-MagnifierLabel {
  color: inherit;
  opacity: 0.6;
}

.DocSearch .DocSearch-MagnifierLabel svg {
  color: inherit;
  width: 18px;
  height: 18px;
}

.DocSearch-NoResults .DocSearch-Title {
  color: #94a3b8;
}

.DocSearch-Title strong {
  color: rgb(15 23 42);
}

html.dark .DocSearch-Container {
  background-color: #0f172acc;
}

html.dark .DocSearch-Modal {
  background: #1e293b;
  box-shadow: inset 0 1px 0 0 #ffffff0d;
}

html.dark .DocSearch-SearchBar {
  border-color: #e2e8f00d;
}

html.dark .DocSearch-Form {
  background: #1e293b;
}

html.dark .DocSearch-Input {
  color: rgb(226 232 240);
}

html.dark .DocSearch-Footer {
  background: #1e293b;
  box-shadow: none;
  border-top-width: 1px;
  border-color: #e2e8f00d;
}

html.dark .DocSearch-Title {
  color: #94a3b8;
}

html.dark .DocSearch-Title strong {
  color: rgb(226 232 240);
}
